@{
    ViewBag.Title = "About Lam API";
}

<h2>API Ca dao tục ngữ được viết bởi Lâm (Sử dụng NoSQL MongoDB)</h2>

<br />

<h3>Quote API cũ sử dụng SQL Server: <a href="http://lamapi.somee.com">Quote API</a></h3>

<br />

<h4><b>Tất cả:</b>  lamapimongodb.somee.com/api/quote/all</h4>

<br/>

<h4><b>Random 1 em:</b>  lamapimongodb.somee.com/api/quote/random</h4>

<br />

<h4><b>Random Count Em:</b> lamapimongodb.somee.com/api/quote/random/{Int Count}</h4>

<br />

<h4>*** /N là dấu hiệu xuống dòng, replace nó bằng tag xuống dòng là được. <br/>
    Với Web thay bằng tag "br /" là ngon cơm, ok?</h4>










